.glslCanvas {
  position: absolute;
  top: 40px;
  left: 10px;
  width: 250px;
  height: 150px;
  z-index: 15; /* Set to be higher than the hero section */
  border-radius: 12px;
  overflow: hidden;
  will-change: transform;
  pointer-events: none;
} 