.container {
  @apply flex flex-col items-center justify-center gap-3;
}

.spinner {
  @apply relative inline-block;
}

.small {
  @apply w-4 h-4;
}

.medium {
  @apply w-6 h-6;
}

.large {
  @apply w-8 h-8;
}

.spinner div {
  @apply absolute rounded-full;
  animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.small div {
  @apply w-3 h-3 border;
}

.medium div {
  @apply w-5 h-5 border-2;
}

.large div {
  @apply w-7 h-7 border-2;
}

.primary div {
  @apply border-gray-200;
}

.primary .circle1 {
  @apply border-t-gray-900;
}

.white div {
  @apply border-white/30;
}

.white .circle1 {
  @apply border-t-white;
}

.gray div {
  @apply border-gray-300;
}

.gray .circle1 {
  @apply border-t-gray-600;
}

.circle1 {
  animation-delay: -0.45s;
}

.circle2 {
  animation-delay: -0.3s;
}

.circle3 {
  animation-delay: -0.15s;
}

.message {
  @apply text-sm font-medium text-gray-600;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}